# Virtual environments
.venv/
venv/

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class

# Packaging / build
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Logs, databases, env files
*.log
*.sqlite3
.env
.env.*

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

